<div class="container">
    <h2>Lessor Record</h2>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" onclick="clearTextBox();">Add New Lessor</button><br /><br />
    <table id="lessorTable" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Last Name
                </th>
                <th>
                    First Mid Name
                </th>
                <th>
                    Full Name
                </th>
                <th>
                    Birth Date
                </th>
            </tr>
        </thead>
        <tbody class="tbody">
        </tbody>
    </table>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title" id="myModalLabel">Add Lessor</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="ID">ID</label>
                        <input type="text" class="form-control" id="ID" placeholder="Id" />
                    </div>
                    <div class="form-group">
                        <label for="LastName">Last Name</label>
                        <input type="text" class="form-control" id="LastName" placeholder="Last Name" />
                    </div>
                    <div class="form-group">
                        <label for="FirstMidName">First Mid Name</label>
                        <input type="text" class="form-control" id="FirstMidName" placeholder="First Mid Name" />
                    </div>
                    <div class="form-group">
                        <label for="BirthDate">Birth Date</label>
                        <input type="text" class="form-control" id="BirthDate" placeholder="Birth Date" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnAdd" onclick="return AddLessor();">Add</button>
                <button type="button" class="btn btn-primary" id="btnUpdate" style="display:none;" onclick="UpdateLessor();">Update</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>  